@import './Variables.scss';

.Login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80vh;

    img {
        max-height: 200px;
    }

    form {
        display: flex;
        flex-direction: column;
        padding: 20px 20px 10px 20px;
        margin: 0 auto;

        input {
            margin-top: 10px;
            -webkit-appearance: none;
            font-size: 16px;
            padding: 8px;
            border: $darker-border;
            border-radius: 5px;
            min-width: 270px;

            &:-webkit-autofill::first-line {
                font-size: 16px
            }
        }

        button {
            font-size: 16px;
            background-color: #41ccb8;
            color: white;
            margin-top: 5px;
            border-radius: 30px;

            &:hover {
                background-color: #28a895;
            }
        }
    }

    .error-message {
        color: red;
        font-size: 12px;
        height: 16px;
    }
}