.Group {
    border-left: $default-border;
    overflow: auto;
    padding: 0 10px;
    -webkit-overflow-scrolling: touch;

    &:first-of-type {
        border-left: none;
    }

    >div:last-of-type {
        padding-bottom: 5px;
    }

    .tier-header {
        background: white;
        padding-bottom: 5px;
        position: sticky;
        top: 0;
        z-index: 1;

        .tier-number {
            line-height: .5;
            background-color: white;
            bottom: -3px;
            color: $accent-color;
            font-size: .7em;
            font-weight: 600;
            margin: 0 auto;
            padding: 0 15px;
            position: relative;
            text-align: center;
            width: fit-content;
        }

        hr {
            margin: 0;
            border-bottom: none;
            border-top: 1px solid $accent-color;
        }

        &.all-drafted {
            .tier-number {
                color: $light-grey;
            }

            hr {
                border-top: 1px solid $light-grey;
            }
        }
    }

    .player-row {
        display: flex;
        padding: 4px 0;
        width: 100%;

        &:last-of-type {
            border: none;
        }

        .player-rank {
            color: $secondary-font-color;
            flex-basis: 7%;
            font-size: .9em;
            padding-right: 15px;
            display: flex;
            justify-content: flex-end;
            align-items: center;


            &.AllIn {
                border-right: 5px solid $all-in-green;
            }

            &.Neutral {
                border-right: 5px solid $neutral-yellow;
            }

            &.AllOut {
                border-right: 5px solid $all-out-red;
            }
        }

        .player-name {
            flex-grow: 1;
            font-size: .9em;
            line-height: 1.2;
            padding-left: 6px;

            .player-team-info {
                color: $ternary-font-color;
                font-size: .7em;
            }
        }

        .player-adp {
            flex-basis: 15%;
            font-size: .9em;
            font-weight: lighter;
            line-height: 1.2;
            margin: auto 0;
            padding-right: 20px;
            text-align: right;

            div {
                color: $secondary-font-color;
                font-size: .7em;
                font-weight: bold;
            }
        }

        button {
            background-color: $secondary-color;
            color: white;
            font-size: 14px;
            height: fit-content;
            margin: auto 0;
            padding: 7px 13px;
            border-radius: 25px;
        }

        &.drafted {
            opacity: .5;

            button {
                background-color: $medium-grey;
                opacity: 1;
            }
        }

        &.selected {
            background-color: $light-grey;
        }
    }
}