@import './Variables.scss';

.Rankings {

    .ranks {
        display: flex;
        flex-direction: column;

        .Group {
            width: 100%;
        }

        .groups {
            display: flex;
            margin: 3px 0;
        }
    }
}