$secondary-font-color: #878787;
$ternary-font-color: #c0c0c0;
$medium-grey: #e6e6e6;
$light-grey: #f1f1f1;
$secondary-color: #5b739a; //#6c7b95;
$accent-color: #00adb5;
$default-border-bottom: 1px solid $light-grey;