$secondary-font-color: #878787;
$ternary-font-color: #c0c0c0;
$darker-grey: #d2d2d2;
$dark-grey: #cccccc;
$medium-grey: #e6e6e6;
$light-grey: #f1f1f1;
$secondary-color: #5b739a; //#6c7b95;
$accent-color: #00adb5;
$default-border: 1px solid $light-grey;
$dark-border: 1px solid $medium-grey;
$darker-border: 1px solid $darker-grey;

$dark-button-hover: #4c6081;

$sidebar-width: 70px;
$bottom-bar-height: 50px;

//User Ranks
$all-in-green: #9ccf31;
$neutral-yellow: #f7d708;
$all-out-red: #fa6363;

$low-risk-green: #238823;
$medium-risk-yellow: #ffbf00;
$high-risk-red: #d2222d;

//Player Position Colors
$qb: #ff2b6d;
$rb: #00ceb8;
$wr: #58a7ff;
$te: #ffae58;
$kicker: #bd66ff;
$defense: #022047;