$secondary-font-color: #878787;
$ternary-font-color: #c0c0c0;
$darker-grey: #d2d2d2;
$dark-grey: #cccccc;
$medium-grey: #e6e6e6;
$light-grey: #f1f1f1;
$secondary-color: #5b739a; //#6c7b95;
$accent-color: #00adb5;
$default-border: 1px solid $light-grey;
$dark-border: 1px solid $medium-grey;
$darker-border: 1px solid $darker-grey;

$dark-button-hover: #4c6081;